.people-list-pane
  image-size = 128px
  spacing = 20px
  half-spacing = spacing / 2
  .card
    background #fff
    padding spacing
    min-height (2 * spacing + image-size)
    border 1px solid #e7e7e7
    border-bottom-width 3px
  .row > div:first-child > .card
    margin spacing half-spacing spacing 0
  .row > div:last-child > .card
    margin spacing 0 spacing half-spacing
  .image
    display block
    width image-size
    height image-size
    border-radius (image-size / 2)
    float right
  .name
    text-transform uppercase
    font-weight bold
    font-size 20px
