.well.well-lg.text-center
  h2 Sign In
  .alert.alert-danger(style='display: none'): p
  form.sign-in
    .form-group
      input.form-control.username(type='text', placeholder='Username')
    .form-group
      input.form-control.password(type='password', placeholder='Password')
    button.btn.btn-default Enter
