.container: .row: .col-md-12
  .jumbotron
    h1 Backbone Sketch
    p An example frontend JS project integrating newer technologies.
    p: a.btn.btn-primary.btn-lg(
      href='https://github.com/paul-nechifor/backbone-sketch/'
    ) Learn more
