.container.people-page: .row: .col-md-12
  .container-fluid
    h2 People

    p This is people. You people, me people: everypeople.

    .pager1.text-center
    .people-list-container
    .pager2.text-center
