.container.people-page: .row: .col-md-12
  .container-fluid
    h2 People

    p This is people. You people, me people: everypeople.

    <% _.each(d, function (person, i) { %>

    <% if (i % 2 === 0) { %><div class='row'><% } %>

    .col-md-6
      .card
        img.image(src='{{ person.image }}')
        .name {{ person.name }}
        .email {{ person.email }}
        .address {{ person.address }}
        .bio {{ person.bio }}

    <% if (i % 2 === 1) { %></div><% } %>

    <% }); %>
