.container
  .row
    .col-md-6.sign-up-pane
      .well.well-lg.text-center
        h2 Sign Up
        form.sign-up
          .form-group
            input.form-control.username(type='text', placeholder='Username')
          .form-group
            input.form-control.password(type='password', placeholder='Password')
          .form-group
            input.form-control.password2(type='password', placeholder='Password (repeat)')
          button.btn.btn-default Register
    .col-md-6.sign-in-pane
