<div class='container'>
  <div class='row'>
    <div class='col-md-6 sign-up-pane'>
      <div class='well well-lg text-center'>
        <h2>Sign Up</h2>
        <form class='sign-up'>
          <div class='form-group'>
            <input type='text' class='form-control username' placeholder='Username'>
          </div>
          <div class='form-group'>
            <input type='password' class='form-control password' placeholder='Password'>
          </div>
          <div class='form-group'>
            <input type='password' class='form-control password2' placeholder='Password (repeat)'>
          </div>
          <button class='btn btn-default'>Register</button>
        </form>
      </div>
    </div>
    <div class='col-md-6 sign-in-pane'></div>
  </div>
</div>
